{%extends 'layout.html.twig'%}

{%block pageTitle%}Liste de pfe{%endblock%}
{%block body%}
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{path('pfe.stats')}}">
                <i class="bi bi-file-earmark-bar-graph-fill"></i>
                Show stats
            </a>
        </div>
    </nav>
    <div class="row">
        {%for pfe in pfes%}
            <div class="card m-auto mb-2" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{pfe.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Student:{{pfe.student}}</h6>
                    <p class="card-text">Entreprise: {{pfe.entreprise}}</p>
                    <a href="{{  path('pfe.add',{'id':pfe.id})}}" class="card-link"><i class="bi bi-pencil-fill" style="font-size: 2rem;color: darkslategrey"></i></a>
                    <a href="{{  path('pfe.detail',{'id':pfe.id})}}" class="card-link"><i class="bi bi-arrow-right-circle-fill" style="font-size: 2rem;color: darkslategrey"></i></a>
                </div>
                </div>
        {%endfor%}
    </div>
{%endblock%}
